body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

ol,
ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}
/* Logo styles */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.accent {
  color: #4d5ae5;
}

/* Contacts styles */
.contacts {
}
.contacts-list {
}
.contacts-item {
}
.contacts-link {
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
